.bewildered-reorderable-list__container {
    background-color: rgb(65, 65, 65);
    border-color: rgb(43, 43, 43);
}

.bewildered-reorderable-list__header {
    background-color: rgb(52, 52, 52);
    border-color: rgb(43, 43, 43);
}

.bewildered-reorderable-list__foldout-header > .unity-toggle:hover {
    background-color: rgb(68, 68, 68);
}

.bewildered-reorderable-list__footer {
    background-color: rgb(65, 65, 65);
    border-color: rgb(43, 43, 43);
}

.bewildered-reorderable-list__button:hover {
    background-color: rgb(78, 78, 78);
}

.bewildered-reorderable-list-item:hover {
    background-color: rgba(42, 42, 42, 0.55);
}

.bewildered-reorderable-list__container .bewildered-reorderable-list-item--selected {
    background-color: rgb(62, 95, 150);
}

.bewildered-reorderable-list__drag-bar {
    background-color: rgb(36, 113, 201);
}